In [1]:
import pandas as pd
df = pd.read_excel('talkdata.xlsx')

In [2]:
def isEnglishOrKorean(input_s):
    k_count = 0
    e_count = 0
    for c in input_s:
        if ord('가') <= ord(c) <= ord('힣') or ord('ㄱ') <= ord(c) <= ord('ㅎ') or ord('ㅏ') <= ord(c) <= ord('ㅣ') :
            k_count+=1
        elif ord('a') <= ord(c.lower()) <= ord('z'):
            e_count+=1
    if k_count == 0 and e_count == 0:
        return "others"
    elif k_count>0:
        return "kor"
    else:
        return "eng"

In [3]:
#----------언어 Series 생성
lang = []
for i in df['plainText']:
    lang.append(isEnglishOrKorean(i))
df['language'] = pd.DataFrame(lang)

In [4]:
kor_chat = df[df['language']=='kor']

In [5]:
kor_chat.to_csv('kor_chat.csv',encoding='utf-8')

In [6]:
import konlpy
from konlpy.tag import Okt

In [8]:
keyword = df[df['plainText'].str.contains('블랙보드')]
keyword

,chatID,personType,personID,createdAt,plainText,language
1,Ub173640ed31u,manager,W6523714365l,2021-01-04 09:07:18,"기본적으로 영어로 코스가 생성된 경우, [Properties]에서 언어를 한국어로 ...",kor
13,Ace13424d164l,user,Hb6754774b33z,2021-01-05 10:27:04,블랙보드입니다,kor
54,Wc430230efb8g,user,U3224026efafo,2021-01-02 09:05:42,블랙보드 오류로 인해 기말과제대체물이 저장하기 전의 상태로 제출이 되었습니다. \n...,kor
57,Wc430230efb8g,user,U3224026efafo,2021-01-02 09:19:32,또한 블랙보드에서 문서를 제출했는데 저장하기 전의 문서로 돌아가는 사건이나 이러할 ...,kor
75,Wc430230efb8g,manager,T8758793187x,2021-01-04 13:19:55,블랙보드에 첨부된 문서는 다음과 같습니다.,kor
...,...,...,...,...,...,...
65293,V3345260cd68e,user,J3896114c166k,2021-12-30 17:06:55,3번을 신청을 해서 블랙보드에 강의가 3개가 뜹니다,kor
65299,Ab140830cd6dn,manager,J9116788391c,2021-12-31 10:06:50,"■ IWC 관련 안내\nIWC 국제동계대학은, 교수자 / 조교 / 학생 마다 조금씩...",kor
65306,Ab140830cd6dn,manager,L8418080484s,2021-12-31 10:11:18,"■ IWC 관련 안내\nIWC 국제동계대학은, 교수자 / 조교 / 학생 마다 조금씩...",kor
65319,Ibf70356ce4cs,user,Fdd67845ce4ad,2021-12-31 09:21:11,안녕하세요. 학부 졸업생입니다.\n예전 블랙보드 개편 전에는 2012~2017년도 ...,kor
65330,Vba71518ce84m,manager,P9434751094p,2021-12-31 13:37:45,"인권과 성평등, 연구윤리교육 등은 <법정의무 및 교내 권장교육 코스>를 직접 등록하...",kor

In [9]:
chatID = keyword['chatID'].unique()
chatID

array(['Ub173640ed31u', 'Ace13424d164l', 'Wc430230efb8g', ...,
       'Ab140830cd6dn', 'Ibf70356ce4cs', 'Vba71518ce84m'], dtype=object)

In [10]:
keyword['chatID'].value_counts()

Wc430230efb8g    14
W453937455fbq    10
Tf1348102dadz    10
Jc5204267933z     9
W0c7446051a6c     9
                 ..
V8a22047a31cg     1
Zc340091a223b     1
F6632191a21df     1
Y8c80684a212n     1
Vba71518ce84m     1
Name: chatID, Length: 2589, dtype: int64

In [11]:
kor_chat.query('chatID == "W453937455fbq"')['plainText']

14374    줌으로 수업 세션을 준비했는데, 코스를 선택한 후 ZOOM 메뉴에 \n 개설된 UR...
14375    지금은 운영시간이 종료되어 답변이 늦어질 수 있습니다. 🌜\n\n운영시간\n - 평...
14376    코스 - 줌 - schedule new meeting 으로 세션을 생성하시면, 블랙...
14377    해당 링크에서 #1실시간강의 - 줌 - 01미팅룸만들기 를 참고해주시면 감사하겠습니...
14378    처음 생성했다가 다시 새로 생성하였는데, 블랙보드에서 줌을 클릭하면 https://...
14379                       교수님 혹시 KU zoom 인증을 따로 안 하셨을까요?
14380    블랙보드를 통해 줌을 들어갔을 때 signin이 나온다는 것은, 인증이 제대로 이뤄...
14381    노트북 새것으로 교체하고 새노트북에서 다시 인증했습니다. 처음 생성했던 URL을 학...
14382       처음 생성한 줌계정은 https://korea-ac-kr.zoom.us/j~입니다.
14383    혹시 https://korea-ac-kr.zoom.us/ 에서 'signin'을 누...
14384    또한, 만드신 세션이 블랙보드-줌에서 바로 연결되게 하려면,\n블랙보드-줌에서 sc...
14385                  그럼 기존 스케줄 미팅은 버리고 새로 만들어서 공지해야 하나요?
14386        기존 만들어 공지한 것 그대로 사용하면 kulms에 저장 녹화가 안되는 것인가요?
14387                                      인증은 다시 안해도 되나요?
14388    녹화의 경우에는 미팅을 생성하실 때 설정하신 값에 따라서 교수님 컴퓨터, 혹은 줌 ...
14389    다만 기존에 만드신 것은 블랙보드와 연결이 되지 않기 때문에, 블랙보드 - 줌 을 ...
14390    https://korea-ac-kr.zoom.us/ 에서 'signin'을 누르시고...
14391    https://korea-ac-kr.zoom.us에서 로그인하려고 누르면 에러메세지...
14392                                혹시 warning이라는 창이 뜨나요?
14393                                                    넵
14394    포털 이메일이 korea.ac.kr로 등록이 되어있음에도 그렇게 뜬다면, \n밑에 ...
14395                              현재 알려준 화면처럼 새컴퓨터에 떴습니다.
14396                     > 버튼을 누르시면 다음 화면을 이어서 보실 수 있습니다!
14397                           아직도 warning 창이 뜬다는 말씀이실까요?
14398                                  다시 다운받아서 진행해보고 있습니다
14399                                       원격지원 부탁해도 될까요?
14400                             @ghing 이 분입니다 감사합니다 선생님!
14401                              잠시만 기다려주시면 감사하겠습니다 교수님!
14402                                               안녕하세요.
14403         ① 먼저 포탈에 로그인하시고, [인사/급여] 탭의 [인적사항관리]에 들어가주세요
14404    ② 중간에 있는 [전자우편]을 '@korea.ac.kr' 메일로 변경해주시면 됩니다...
14405              현재 블랙보드에 solim2020@naver.com으로 되어 있습니다.
14406      이 이메일 주소를 your_kupid@korea.ac.kr 변경하여 주시기 바랍니다.
14407    인적사항변경하려고 들어가면 gmspotal.korea.ac.kr에 삽ㅇ입된 페이지 ...
14408                             인터넷 익스플로러에서 변경해보시기 바랍니다.
Name: plainText, dtype: object

In [12]:
word_list = pd.read_csv("word_list2.csv",
                 names = ['text', 'count'],
                 encoding="CP949")
word_list

         text  count
0        감사하다   7898
1          확인   7288
2          교수   6965
3         드리다   6605
4         해주다   5038
...       ...    ...
4662      Pop      3
4663  numbers      3
4664    Excel      3
4665      맴버쉽      3
4666     Info      3

[4667 rows x 2 columns]

In [13]:
text = word_list['text']
text

0          감사하다
1            확인
2            교수
3           드리다
4           해주다
         ...
4662        Pop
4663    numbers
4664      Excel
4665        맴버쉽
4666       Info
Name: text, Length: 4667, dtype: object

In [14]:
location = df[df['plainText'].str.contains('교수')]
location

,chatID,personType,personID,createdAt,plainText,language
1,Ub173640ed31u,manager,W6523714365l,2021-01-04 09:07:18,"기본적으로 영어로 코스가 생성된 경우, [Properties]에서 언어를 한국어로 ...",kor
12,Ace13424d164l,user,Hb6754774b33z,2021-01-05 10:26:53,"안녕하세요,혹시 교수님이 특정학생이 컨텐츠에 접근했는지 여부를 확인할 수 있는 방법...",kor
54,Wc430230efb8g,user,U3224026efafo,2021-01-02 09:05:42,블랙보드 오류로 인해 기말과제대체물이 저장하기 전의 상태로 제출이 되었습니다. \n...,kor
61,Wc430230efb8g,user,U3224026efafo,2021-01-04 11:29:45,일반화학2(05분반) 김재일교수님입니다,kor
73,Wc430230efb8g,user,U3224026efafo,2021-01-04 13:16:59,아닙니다. \n상황을 설명해드리자면 화학기말대체과제물은 1번부터 10문제까지 주어줬...,kor
...,...,...,...,...,...,...
65255,I3086767cc25v,user,Ia48203835e9v,2021-12-29 18:10:00,교수님까 연락하는 방법,kor
65256,I3086767cc25v,user,Ia48203835e9v,2021-12-29 18:10:08,교수님과 연락하는 방법 알려줘?,kor
65258,I3086767cc25v,manager,P9434751094p,2021-12-30 10:01:12,강의계획서에 기재된 교수자/조교분의 연락처를 통해서 연락을 해보시겠어요?,kor
65299,Ab140830cd6dn,manager,J9116788391c,2021-12-31 10:06:50,"■ IWC 관련 안내\nIWC 국제동계대학은, 교수자 / 조교 / 학생 마다 조금씩...",kor
65306,Ab140830cd6dn,manager,L8418080484s,2021-12-31 10:11:18,"■ IWC 관련 안내\nIWC 국제동계대학은, 교수자 / 조교 / 학생 마다 조금씩...",kor

In [15]:
kor_chat['chatID'].unique()[5894]

'P1912147cef8j'

In [16]:
kor_chat.describe()

,chatID,personType,personID,createdAt,plainText,language
count,61937,61937,61937,61937,61937,61937
unique,5895,3,4098,61063,51005,1
top,Y77961207690m,manager,P9434751094p,2021-04-16 16:10:17,🐯가 곧 달려옵니다.\n평소보다 많은 톡 문의가 발생하고 있어 약간의 시간이 걸릴 ...,kor
freq,153,31856,5165,3,1174,61937

In [ ]:
# chatID unique 한 값 저장
# import sys
# sys.stdout = open('chatid2.txt','w')
for i in range(0,5895):
    print(kor_chat['chatID'].unique()[i])
# sys.stdout.close()

In [ ]:
kor_chat.query('chatID == "N0e23920ef14e" & personType == "user"').head(1)